#loader {
	align-items: center;
  align-content: center;
  justify-content: center;

	img {
		max-height: 150px;
		max-width: 150px;
	}
}

.field-label {
	font-weight: 700;
}

#home {
	.title,
	.subtitle {
		color: white;
	}
	.button {
		font-weight: 600;
	}
}

.banner {
	width: 100%;
	height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.box {
	background: rgba(255, 255, 255, 0.5) !important;
}

.help {
	font-size: 0.9rem !important;
}

footer {
	padding: 1.5rem !important;
	.title {
		color: #363636;
	}
	.level-item {
		flex-direction: column;
		p {
			color: #363636;
		}
		a {
			color: #209cee;
			i {
				font-size: 24px;
				&:active,
				&:hover {
					color: #209cee;
				}
			}
			&:active,
			&:hover,
			i {
				color: #363636;
			}
		}
	}

	.content p {
		color: black;
	}

	a {
		color: #209cee;
	}
	a:hover {
		color: #066db1;
	}
}

.or {
	padding: 0.3rem;
}

.results {
	position: absolute;
	z-index: 5;
	width: 100%;
	box-shadow: 0 1px 2px rgba(10, 10, 10, 0.2);
	background: white;
	.suggestion {
		&:hover {
			cursor: pointer;
			background: whitesmoke;
		}
		padding: .5rem;
		font-size: 16px;
    border: 1px whitesmoke solid;
	}
}

input {
	z-index: 3;
}
