// mobile: up to 768px
// tablet: from 769px
// desktop: from 1024px
// widescreen: from 1216px
// fullhd: from 1408px
.image-preview {
    .image img{
      max-height: 250px;
      width: auto;
    }
}

.file-name {
  background-color: white;
}

#loader {
	align-items: center;
  align-content: center;
  justify-content: center;

	img {
		max-height: 150px;
		max-width: 150px;
	}
}

.field-label {
	font-weight: 700;
}

.is-info {
	.room {
		.title {
			color: #4a4a4a !important;
		}
	}
}

#yourRooms {
  .box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    figure {
      padding: .5rem;
    }
    .details {
      flex-direction: 'column';
      text-align: left;
      flex-grow: 1;
      padding-top: 1rem;
    }
    .buttons {
      align-self: flex-end;
    }
  }
}

#roomEditor {
  .preview {
		display: inline-flex;
    flex-direction: column;
		width: 35%;
	}
}

#rooms {
	flex-grow: 1;
	justify-content: space-between;
}

.room {
  display: inline-flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem;
  text-align: left;
  .card-content {
    padding: 1rem;
  }
  .details-header, .details-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .details-body {
    padding-top: 0.3rem;
  }
  .title {
    // margin-bottom: .7rem;
  }
  .price {
    font-size: 14px;
    font-weight: 700;
  }
  .location {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
  }
  .guests {
    display: inline-flex;
    flex-direction: row;
    .guest {
      flex-direction: column;
      text-align: center;
      padding: 0.2rem;
      .fa {
        display: flex;
        font-size: 16px;
      }
    }
  }
}

@media(max-width: 768px) {
  #previewer {
    display: none;
  }

  #rooms {
		.room {
			width: 98% !important;
		}
	}
}

@media(max-width: 1024px) {

  #previewer {
    display: none;
  }
  #rooms {
		.room {
			width: 45%;
		}
	}
}
#home {
	.title,
	.subtitle {
		color: white;
	}
	.button {
		font-weight: 600;
	}
}

.banner {
	width: 100%;
	height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.box {
	background: rgba(255, 255, 255, 0.5) !important;
}

.help {
	font-size: 0.9rem !important;
}

footer {
	padding: 1.5rem !important;
	.title {
		color: #363636;
	}
	.level-item {
		flex-direction: column;
		p {
			color: #363636;
		}
		a {
			color: #209cee;
			i {
				font-size: 24px;
				&:active,
				&:hover {
					color: #209cee;
				}
			}
			&:active,
			&:hover,
			i {
				color: #363636;
			}
		}
	}

	.content p {
		color: black;
	}

	a {
		color: #209cee;
	}
	a:hover {
		color: #066db1;
	}
}

.or {
	padding: 0.3rem;
}

.results {
	position: absolute;
	z-index: 5;
	width: 100%;
	box-shadow: 0 1px 2px rgba(10, 10, 10, 0.2);
	background: white;
	.suggestion {
		&:hover {
			cursor: pointer;
			background: whitesmoke;
		}
		padding: .5rem;
		font-size: 16px;
    border: 1px whitesmoke solid;
	}
}

input {
	z-index: 3;
}

.control.is-loading .file-name:after {
	animation: spinAround 500ms infinite linear;
	border: 2px solid #dbdbdb;
	border-radius: 290486px;
	border-right-color: transparent;
	border-top-color: transparent;
	content: "";
	display: block;
	height: 1em;
	position: relative;
	width: 1em;
	position: absolute !important;
	right: 0.625em;
	top: 0.625em;
	z-index: 4;
}
