.incrementer-max {
  line-height: 2rem;
  padding-left: .5rem; }

.notification > .delete {
  right: 0.7rem !important;
  top: 0.7rem !important; }

#global {
  position: absolute;
  width: 100%;
  margin-top: .5rem;
  z-index: 5; }

.hero {
  background-color: white; }

.box {
  background: rgba(255, 255, 255, 0.5) !important; }

.help {
  font-size: 0.9rem !important; }

.modal .modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(10, 10, 10, 0.86); }

.modal .modal-content {
  background-color: white; }

.image-preview .image img {
  max-height: 250px;
  width: auto; }

.or {
  padding: 0.3rem; }

.results {
  position: absolute;
  z-index: 5;
  width: 100%;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.2);
  background: white; }
  .results .suggestion {
    padding: .5rem;
    font-size: 16px;
    border: 1px whitesmoke solid; }
    .results .suggestion:hover {
      cursor: pointer;
      background: whitesmoke; }

#search .control:hover:after {
  transform: scaleX(0.9); }

#search .control:after {
  display: flex;
  content: '';
  border-bottom: solid 2px #dbdbdb;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 250ms ease-in-out; }

#search .control input {
  border: none;
  box-shadow: none; }

#loader {
  align-items: center;
  align-content: center;
  justify-content: center; }
  #loader img {
    max-height: 150px;
    max-width: 150px; }

#yourRooms .rooms,
#bookings .rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  max-width: 900px;
  margin: 0 auto; }

#yourRooms .box,
#bookings .box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  justify-content: center;
  align-items: center; }
  #yourRooms .box figure,
  #bookings .box figure {
    max-width: 200px;
    padding: .5rem; }
    #yourRooms .box figure img,
    #bookings .box figure img {
      border-radius: 4px;
      border: 4px solid white; }
  #yourRooms .box .details,
  #bookings .box .details {
    flex-direction: column;
    text-align: left;
    flex-grow: 1;
    padding-top: 1rem; }
  #yourRooms .box .buttons,
  #bookings .box .buttons {
    align-self: flex-end; }

#roomEditor .preview {
  display: inline-flex;
  flex-direction: column;
  width: 35%; }

#rooms {
  flex-grow: 1;
  justify-content: space-between; }

.is-info .room .title {
  color: #4a4a4a !important; }

.room {
  display: inline-flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem;
  text-align: left; }
  .room figure.image {
    overflow: hidden; }
  .room figure.image img {
    transition: all 0.2s ease-out 0s; }
  .room figure.image:hover img {
    transform: scale(1.1); }
  .room .card-content {
    padding: 1rem; }
  .room .details-header, .room .details-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .room .details-body {
    padding-top: 0.3rem; }
  .room .price {
    font-size: 14px;
    font-weight: 700; }
  .room .location {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-weight: 400;
    font-size: 14px;
    font-style: italic; }
  .room .guests {
    display: inline-flex;
    flex-direction: row; }
    .room .guests .guest {
      flex-direction: column;
      text-align: center;
      padding: 0.2rem; }
      .room .guests .guest .fa {
        display: flex;
        font-size: 16px; }

#home .title,
#home .subtitle {
  color: white; }

#home .button {
  font-weight: 600; }

#room-header {
  min-height: 500px; }
  #room-header .room-banner {
    max-height: 500px;
    width: 100% !important;
    height: 100% !important; }
  #room-header .hero-body {
    position: absolute;
    margin-top: 3.5rem;
    padding-top: 150px;
    max-height: 500px;
    min-height: 500px;
    min-width: 100%; }

#room-details .hero-body {
  align-items: flex-start; }
  #room-details .hero-body .subtitle {
    color: #e84c3d; }
  #room-details .hero-body #price {
    font-weight: 700; }
  #room-details .hero-body #booked {
    margin-bottom: 2rem; }

.banner {
  width: 100%;
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px); }

.hero-head {
  flex-grow: 1; }
  .hero-head .hero-banner {
    width: 100%;
    padding-top: 220px;
    padding-bottom: 220px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); }
  .hero-head .title {
    padding-top: 220px;
    padding-bottom: 220px;
    color: white !important; }

.route-wrapper {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  margin-bottom: 11rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1); }

footer {
  padding: 1.5rem 1.5rem !important;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }
  footer .title {
    color: #363636; }
  footer .level-item {
    flex-direction: column; }
    footer .level-item p {
      color: #363636; }
    footer .level-item a {
      color: #209cee; }
      footer .level-item a i {
        font-size: 24px; }
        footer .level-item a i:active, footer .level-item a i:hover {
          color: #209cee; }
      footer .level-item a:active, footer .level-item a:hover,
      footer .level-item a i {
        color: #363636; }
  footer .content p {
    color: black; }
  footer a {
    color: #209cee; }
  footer a:hover {
    color: #066db1; }

.field-label {
  font-weight: 700; }

.file-name {
  background-color: white; }

input {
  z-index: 3; }

.control.is-loading .file-name:after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  position: absolute !important;
  right: 0.625em;
  top: 0.625em;
  z-index: 4; }

@media (max-width: 768px) {
  #previewer {
    display: none; }
  .room {
    width: 98% !important; } }

@media (max-width: 1024px) {
  #previewer {
    display: none; }
  .room {
    width: 45%; } }
