#loader {
  align-items: center;
  align-content: center;
  justify-content: center; }
  #loader img {
    max-height: 150px;
    max-width: 150px; }

#home .title,
#home .subtitle {
  color: white; }

.banner {
  width: 100%;
  margin-top: 0.5rem;
  height: 100%;
  background-position: center top;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.box {
  background: rgba(255, 255, 255, 0.5) !important; }
