#loader {
  align-items: center;
  align-content: center;
  justify-content: center; }
  #loader img {
    max-height: 150px;
    max-width: 150px; }

.field-label {
  font-weight: 700; }

#home .title,
#home .subtitle {
  color: white; }

#home .button {
  font-weight: 600; }

.banner {
  width: 100%;
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.box {
  background: rgba(255, 255, 255, 0.5) !important; }

.help {
  font-size: 0.9rem !important; }

footer {
  padding: 1.5rem !important; }
  footer .title {
    color: #363636; }
  footer .level-item {
    flex-direction: column; }
    footer .level-item p {
      color: #363636; }
    footer .level-item a {
      color: #209cee; }
      footer .level-item a i {
        font-size: 24px; }
        footer .level-item a i:active, footer .level-item a i:hover {
          color: #209cee; }
      footer .level-item a:active, footer .level-item a:hover,
      footer .level-item a i {
        color: #363636; }
  footer .content p {
    color: black; }
  footer a {
    color: #209cee; }
  footer a:hover {
    color: #066db1; }

.or {
  padding: 0.3rem; }

.results {
  position: absolute;
  z-index: 5;
  width: 100%;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.2);
  background: white; }
  .results .suggestion {
    padding: .5rem;
    font-size: 16px;
    border: 1px whitesmoke solid; }
    .results .suggestion:hover {
      cursor: pointer;
      background: whitesmoke; }

input {
  z-index: 3; }
