#loader {
  align-items: center;
  align-content: center;
  justify-content: center; }
  #loader img {
    max-height: 150px;
    max-width: 150px; }

#home .title,
#home .subtitle {
  color: white; }

#home .button {
  font-weight: 600; }

.banner {
  width: 100%;
  margin-top: 0.5rem;
  height: 100%;
  background-position: center top;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.box {
  background: rgba(255, 255, 255, 0.5) !important; }

footer {
  padding: 1.5rem;
  background-color: #fff; }
  footer .title {
    color: #363636; }
  footer .level-item {
    flex-direction: column; }
    footer .level-item p {
      color: #363636; }
    footer .level-item a {
      color: #209cee; }
      footer .level-item a i {
        font-size: 24px; }
        footer .level-item a i:active, footer .level-item a i:hover {
          color: #209cee; }
      footer .level-item a:active, footer .level-item a:hover,
      footer .level-item a i {
        color: #363636; }
  footer .content p {
    color: black; }
  footer a {
    color: #209cee; }
  footer a:hover {
    color: #066db1; }
